html, body {
    padding: 10px 10px;
    background: #242424;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-container {
    padding: 1em;
    background: linear-gradient(217deg, #000000cc, #05050500 70.71%),
    linear-gradient(127deg, #9b9b9bcc, #fffefe00 70.71%),
    linear-gradient(336deg, #277dffcc, #44abff00 70.71%);
}

.head {
    text-align: center;
}

.head h1 {
    color: #ffffff;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #242424;
}

.shortner-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shortner-container {
    border: solid 2px ;
    margin: .5em;
    padding: .5em;
    width: 40%;
    background: #ffffff;
}

.url-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.general-form {
    margin-top: 1.5rem;
}

.url-input {
    display: block;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input[type=button], input[type=submit], button {
    background-color: #2d67be;
    border: solid 2px;
    border-radius: 2px;
    border-color: #242424;
    color: white;
    padding: 2px 8px;
    cursor: pointer;
}

input[type=button], input[type=submit]:hover {
    background-color: #154da0;
}

.url-container {
    margin-top: 1rem;
    padding-top: .5em;
}

.short-url-link-container {
    margin-bottom: .5em;
}

.short-url-link {
    word-wrap: break-word;
    margin-left: .4em;
}

.short-url-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.link-label {
    display: inline;
    text-decoration: underline;
}

@media (max-width: 750px) {
    .url-input {
        width: 80%
    }

    .shortner-containers {
        flex-direction: column;
    }
    .shortner-container {
        width: 100%
    }

    .general-form {
        margin-top: auto;
    }
    
}
